/* ================= GENERAL CSS =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #393e46;
  color: #f6f6f6;
  width: 100%;
  height: 100vh;
  display: flex; /*using css flex box*/
  justify-content: center; /*center its contents*/
  align-items: center;
}

.container {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.section {
  /* border: 1px solid white; */
  border-radius: 10px;
  width: 400px;
  height: 600px;
}

/* ============= TEMPERATURE CONVERTER ================ */
.temp-converter {
  background-color: #f08a5d;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.temp-header {
  border-bottom: 1px solid white;
  margin: auto;
}

.input-div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-row: 2/4;
}

.temp-input {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: auto;
  padding-left: 16px;
  font-size: 1.2rem;
  font-weight: 600;
}

#clear {
  width: 80%;
  height: 50px;
  margin: auto;
  outline: none;
  box-shadow: 3px 3px 5px #ccc;
  border-radius: 10px;
  font-size: 1.2rem;
}

/* ================== BMI CALCULATOR ================= */
.bmi-calculator {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-gap: 20px;
  border: 1px solid yellow;
}

.bmi-header {
  border-bottom: 1px solid white;
  margin: auto;
}

.bmi-form {
  border: 1px solid blue;
  display: grid;
  grid-template-rows: auto 1fr;
}

.metric-value-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.metric-selector {
  height: 50px;
  margin: auto;
  padding-left: 16px;
  font-size: 1.2rem;
  font-weight: 600;
}

#weight {
  width: 80%;
  margin-left: 10%;
}

#height {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
}

#heightInInches {
  display: none;
}

.metric-value {
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: auto;
  padding-left: 16px;
  font-size: 1.2rem;
  font-weight: 600;
}

#display-bmi {
  display: inline;
  width: 20%;
  height: 50px;
  margin-top: 20px;
  background: blue;
}

#bmi-button {
  width: 60%;
  height: 50px;
  margin-left: 10%;
  margin-top: 20px;
  outline: none;
  font-size: 1.2rem;
}

#clear-button {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-top: 50px;
  outline: none;
  box-shadow: 3px 3px 5px #ccc;
  border-radius: 10px;
  font-size: 1.2rem;
}

#bmi-footer {
  border: 1px solid yellow;
}

#display-output {
}

/* ==================== SIMPLE CALCULATOR ==================*/
.calculator {
}

.calc-header {
}

.calc-body {
}

#top-display {
}

#calc-input {
}

.calc-button-container {
}

#cancel {
}

.calc-button {
}
